<!-- views/cars/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Car</title>
  </head>
  <body>
    <h1>Create a New Fruit!</h1>
    <form action="/cars" method="POST">
      <label for="make">Make:</label>
      <input type="text" name="makw" id="make" />

      <label for="model">Model:</label>
      <input type="text" name="model" id="model" />
  
      <label for="isOn">Is the car started?</label>
      <input type="checkbox" name="isOn" id="isOn" />
  
      <button type="submit">Add Car</button>
    </form>
  </body>
</html>
